/*-- scss:defaults --*/

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&family=Fira+Mono&family=Domine:wght@400;700;900&family=Nunito:wght@400;900&display=swap');

// -----------------------
// Colores LatinR-ish
// -----------------------

// Neutros
$white:        #ffffff;
$gray-0:       #f4f4f4;
$gray-1:       #e8e8e8;
$gray-2:       #dcdcdc;
$gray-3:       #cccccc;
$gray-4:       #b8b8b8;
$gray-5:       #a3a3a3;
$gray-6:       #8e8e8e;
$gray-7:       #777777;
$gray-8:       #555555;
$gray-9:       #333333;
$black:        #000000;

// Paleta principal LatinR-ish
$purple:       #6b4f9a;
$purple-dark:  #4a3571;

$teal:         #008080;
$teal-light:   #37BBED;

$yellow:       #f7c545;

// Variables funcionales
$primary:       $purple-dark;
$secondary:     $teal;
$light:         $gray-0;
$light-accent:  $gray-3;
$dark:          $gray-9;
$link-color:    $purple-dark;

// Inline code
$code-bg:       $yellow;
$code-color:    $purple-dark;

// Contrast
$min-contrast-ratio: 7;

/*-- scss:rules --*/

.navbar-title {
  font-family: Domine, serif;
  font-weight: 700;
}

h1, h2 {
  font-size: 1.3em;
  font-weight: 900;
  font-family: Domine, serif;
  color: $primary;
}

h2 {
  font-size: 1.2em;
}

h3, h4 {
  font-weight: 700;
  font-family: Domine, serif;
  color: $purple;
}

h3 {
  font-size: 1.15em;
}

h4 {
  font-size: 1.1em;
}

h5, h6 {
  font-size: 1.05em;
  font-weight: 600;
  font-family: Domine, serif;
  color: $secondary;
}

.fa-solid, .fab, .fa-brands {
  font-family: 'Font Awesome 6 Brands';
  font-weight: 400;
  color: $purple;
}

p.subtitle.lead {
  font-size: 1em;
  text-align: center;
}

#title-block-header.quarto-title-block.default .description {
  margin-top: 1em;
}

body {
  font-family: Atkinson Hyperlegible, Nunito, sans-serif;
  background-color: $light;
}

// code

code {
  font-family: Fira Mono, monospace;
}

.sourceCode pre code {
  padding: 1.2em;
}

// images

.figure-img {
  margin-bottom: 0;
  line-height: 0;
  border-radius: 5px;
}

// specific classes

.center-text {
  text-align: center;
}

.img-va-bottom {
  vertical-align: bottom;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-float-right {
  float: right;
  padding-left: 1em;
}

@media screen and (max-width: 991.98px) {
  .img-float-right {
    float: right;
    width: 100%;
    padding-bottom: 1em;
    padding-left: 0em;
  }
}

// github icon button

.bi-github {
  color: white;
}

// page buttons

.page-link {
  background-color: $yellow;
  color: $secondary;
}

.page-link:hover {
  background-color: $secondary;
  color: white;
}

.page-item.active .page-link {
  background-color: $secondary;
}

// slide iframes

.slides {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  border-style: solid;
  border-width: 1px;
}
